body{
    margin:0;
    padding:0;
    background:#efefef;
    font-family:Arial, sans-serif;
    overflow:hidden;
}

.app{
    width:100%;
    height:100vh;
    position:relative;
}

.logo-title{
    position:absolute;
    top:40px;
    right:25px;
    font-size:28px;
    font-weight:700;
    color:#343443;
}

#menu-btn{

    position:absolute;
    top:40px;
    left:18px;

    width:48px;
    height:48px;

    border:none;
    border-radius:50%;

    background:#2f2f2f;
    color:white;

    font-size:22px;
    cursor:pointer;
}

#chat-box{

    position:absolute;

    top:110px;
    left:0;
    right:0;
    bottom:100px;

    overflow-y:auto;

    padding:20px;
}

.user-message{

    background:#f7944d;
    color:white;

    padding:14px 18px;

    border-radius:25px;

    width:max-content;
    max-width:70%;

    margin-left:auto;
    margin-bottom:15px;

    font-weight:600;

    word-wrap:break-word;
}

.bot-message{

    color:black;

    margin-bottom:25px;

    max-width:80%;

    font-weight:500;

    line-height:1.5;
}

.input-container{

    position:fixed;

    left:20px;
    right:20px;
    bottom:20px;

    display:flex;
    align-items:center;

    background:white;

    border:3px solid #111;

    border-radius:35px;

    padding:5px;
}

#message{

    flex:1;

    border:none;
    outline:none;

    background:transparent;

    padding:15px;

    font-size:18px;
}

#send-btn{

    width:48px;
    height:48px;

    border:none;
    border-radius:50%;

    background:#ff8428;

    color:white;

    font-size:24px;

    cursor:pointer;
}

#send-btn:hover{

    transform:scale(1.05);
}